<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleDisplayName</key><string>Aura</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleURLTypes</key><array><dict><key>CFBundleURLName</key><string>fm.aura.lastfm</string><key>CFBundleURLSchemes</key><array><string>aura</string></array></dict></array>
    <key>LSApplicationCategoryType</key><string>public.app-category.music</string>
    <key>NSAppleMusicUsageDescription</key><string>Aura reads Apple Music playback and recent history to prepare Last.fm scrobbles.</string>
    <key>NSMusicUsageDescription</key><string>Aura reads Apple Music playback and recent history to prepare Last.fm scrobbles.</string>
    <key>AuraCloudContainer</key><string>$(AURA_ICLOUD_CONTAINER)</string>
    <key>AuraLastFMAPIKey</key><string>$(LASTFM_API_KEY)</string>
    <key>AuraLastFMSharedSecret</key><string>$(LASTFM_SHARED_SECRET)</string>
    <key>BGTaskSchedulerPermittedIdentifiers</key><array><string>fm.aura.companion.refresh</string></array>
    <key>UIBackgroundModes</key><array><string>fetch</string></array>
    <key>UILaunchScreen</key><dict/>
    <key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
</dict></plist>
